name: Deploy Windows apps (winget)

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Ansible + collections
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          python3 -m pip install --user 'ansible-core==2.17.*' 'pywinrm>=0.4.3' 'pywinrm[credssp]'
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          ~/.local/bin/ansible-galaxy collection install -r ansible/requirements.yml

      - name: Vault password file
        run: |
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > ansible/.vault
          chmod 600 ansible/.vault
        env:
          ANSIBLE_VAULT_PASSWORD_FILE: ansible/.vault

      - name: Test połączenia (win_ping)
        working-directory: ansible
        env:
          ANSIBLE_VAULT_PASSWORD_FILE: .vault
        run: ~/.local/bin/ansible -i inventory.ini win -m ansible.windows.win_ping -v -e "win_pass=${{ secrets.WIN_PASS }}"

      - name: Deploy (winget)
        working-directory: ansible
        env:
          ANSIBLE_VAULT_PASSWORD_FILE: .vault
        run: ~/.local/bin/ansible-playbook site.yml -v

